<div class="guestbook">
  <h1>Gästebuch</h1>

  <div class="pagination">
    <%= page_entries_info @guestbook_entries %>
    <%= will_paginate @guestbook_entries %>
  </div>

  <% @guestbook_entries.each do |g| %>
    <div class="guestbook-entry">
      <div class="guestbook-entry__header">
        <p>
          <% if g.user %>
            <%= g.user.first_name %>
          <% else %>
            <%= g.author %>
          <% end %>
          -
          <%= g.created_at.strftime("%m.%d.%Y") %>
          <% if g.seminar_instance %>
            - <%= g.seminar_instance.name %>
          <% end %>
        </p>
      </div>

      <h2 class="guestbook-entry__title" ><%= g.title %></h2>
      <p class="guestbook-entry__content"><%= g.content %></p>
    </div>
  <% end %>

  <div class="pagination mt-xs">
    <%= page_entries_info @guestbook_entries %>
    <%= will_paginate @guestbook_entries %>
  </div>

  <div class="button-container">
    <%= link_to "Neuen Eintrag verfassen", new_guestbook_entry_path, class: "button-primary" %>
  </div>
</div>
