<h1><%= @seminar_instance.name %></h1>

<h2>Worum es geht:</h2>
<p><%= @seminar_instance.description %></p>

<h2>Vermittelte Inhalte:</h2>
<ul>
  <% @seminar_instance.seminar_contents.each do |s| %>
    <li><%= s.content %></li>
  <% end %>
</ul>

<h2>Ausrüstungsliste</h2>
<ul>
  <% @seminar_instance.equipment_items.each do |i| %>
    <li><%= i.name %></li>
  <% end %>
</ul>

<p>Preis: <%= @seminar_instance.price %><%= currency_symbol %></p>
<br>
<%= link_to "Generelle Infos", frontend_seminar_infos_path, target: '_blank', class: "button button-primary" %>

<h2>Termine</h2>

<% @seminars.each do |s| %>
  <p>
    <%= s.start_date.strftime("%m.%d.%Y") %>:
    <%= link_to s.location.name, frontend_location_path(s.location)  %> -
    <%= Booking.where(seminar: s).count %> von
    <%= s.max_participants %> Anmeldungen
  </p>
    <% if Booking.where(seminar: s).count < s.max_participants %>
      <%= link_to "Jetzt buchen", frontend_seminar_type_seminar_instance_seminar_account_abfrage_path(@seminar_type, @seminar_instance, s), class: "button button-primary" %>
    <% end %>
<% end %>
