<div class="seminar_instance">
  <h1><%= @seminar_instance.name %></h1>

  <h2>Worum es geht:</h2>
  <p><%= @seminar_instance.description %></p>

  <div class="seminar_instance__image-mobile">
    <%= image_tag(@seminar_instance.image_1, alt: "Seminar der Wildnisschule Wurzelholz") %>
  </div>


  <h2>Vermittelte Inhalte:</h2>
  <div class="seminar_instance__image_section">
    <div>
      <ul>
        <% @seminar_instance.seminar_contents.each do |s| %>
          <li><%= s.content %></li>
        <% end %>
      </ul>
    </div>

    <div class="seminar_instance__image">
      <%= image_tag(@seminar_instance.image_1, alt: "Seminar der Wildnisschule Wurzelholz") %>
    </div>

  </div>

  <div class="seminar_instance__image-mobile">
    <%= image_tag(@seminar_instance.image_2, alt: "Seminar der Wildnisschule Wurzelholz") %>
  </div>

  <h2>Ausrüstungsliste</h2>
  <div class="seminar_instance__image_section">
    <div>
      <ul>
        <% @seminar_instance.equipment_items.each do |i| %>
          <li><%= i.name %></li>
        <% end %>
      </ul>
    </div>


    <div class="seminar_instance__image">
      <%= image_tag(@seminar_instance.image_2, alt: "Seminar der Wildnisschule Wurzelholz") %>
    </div>
  </div>


  <h2>Termine</h2>
  <p>Preis: <%= @seminar_instance.price %><%= currency_symbol %> - Unterkunft und Verpflegung inklusive</p>

  <% @seminars.each do |s| %>
    <p>
      <%= s.start_date.strftime("%m.%d.%Y") %>:
      <%= link_to s.location.name, frontend_location_path(s.location)  %> -
      <%= Booking.where(seminar: s).count %> von <%= s.max_participants %> Anmeldungen -
      <% if Booking.where(seminar: s).count < s.max_participants %>
      <span>
        <%= link_to "Jetzt buchen", frontend_seminar_type_seminar_instance_seminar_account_abfrage_path(@seminar_type, @seminar_instance, s) %>
      </span>
      <% end %>
    </p>
  <% end %>

  <h2 id="seminarinformationen">Generelle Informationen</h2>
  <ul>
    <li>
      Um das Gemeinschaftsgefühl zu stärken, wird an jedem Wochenende mindestens ein Abendessen zusammen  am Feuer zubereitet, die Essen sind vegan und glutenfrei.
    </li>
    <li>
      Allen Kursen liegen die Gedanken zugrunde, wie wir Müll reduzieren und auf Ressourcen achten können (z.b. Feuerholz, Strom, Kühlung oder Licht). Wie können wir unseren Wasserverbrauch reduzieren und wieviel davon brauchen wir wirklich? Wir öffnen uns für  Alternativen und dabei ist auch unsere Kreativität gefordert.
    </li>
    <li>
      Die Anreise zu den Seminaren erfolgt auf eigene Verantwortung und ist nicht im Seminarpreis enthalten.
    </li>
    <li>
      Einige Stunden werden auch bei Dunkelheit oder unterschiedlichen Wetterlagen draußen verbracht, wobei wir als Leiter natürlich zuerst die Sicherheit der Teilnehmer im Auge haben - safety first!
    </li>
    <li>
       Genaueres zu Haftung und Rücktrittsbedingungen könnt ihr unseren <%= link_to 'AGBs', frontend_agb_path, target: "_blank" %> entnehmen.
    </li>
  </ul>
  <p>
  </p>

</div>
