<% content_for :title do %>
  <%= @seminar_instance.name %>
<% end %>

<article class="seminar_instance">
  <section>
    <h1><%= @seminar_instance.name %></h1>

    <h2>Worum es geht:</h2>
    <p><%= @seminar_instance.description %></p>
  </section>

  <section>
    <div class="seminar_instance__image-mobile">
      <%= image_tag(@seminar_instance.image_1, alt: "Seminar der Wildnisschule Wurzelholz") %>
    </div>

    <h2>Vermittelte Inhalte:</h2>
    <div class="seminar_instance__image_section">
      <div>
        <ul>
          <% @seminar_instance.seminar_contents.each do |s| %>
            <li><%= s.content %></li>
          <% end %>
        </ul>
      </div>

      <div class="seminar_instance__image">
        <%= image_tag(@seminar_instance.image_1, alt: "Seminar der Wildnisschule Wurzelholz") %>
      </div>
    </div>
  </section>

  <section>
    <div class="seminar_instance__image-mobile">
      <%= image_tag(@seminar_instance.image_2, alt: "Seminar der Wildnisschule Wurzelholz") %>
    </div>

    <h2>Ausrüstungsliste</h2>
    <div class="seminar_instance__image_section">
      <div>
        <ul>
          <% @seminar_instance.equipment_items.each do |i| %>
            <li><%= i.name %></li>
          <% end %>
          <li><%= @seminar_instance.breakfast %>x Frühstück</li>
          <li><%= @seminar_instance.lunch %>x Mittagessen</li>
          <li><%= @seminar_instance.dinner %>x Abendessen</li>
        </ul>
      </div>


      <div class="seminar_instance__image">
        <%= image_tag(@seminar_instance.image_2, alt: "Seminar der Wildnisschule Wurzelholz") %>
      </div>
    </div>
  </section>

  <section>
    <h2>Termine:</h2>

    <% if @seminars.count > 0 %>
      <p>*UVM steht für Unterkunft, Verpflegung und Materialien - den hier ausgeschilderten Preis bitte <span style="font-style:italic;">immer in Bar mitbringen</span>. </p>
      <table>
        <thead>
          <tr>
            <th>Datum</th>
            <th>Ort</th>
            <th>Anmeldungen</th>
            <th>Preis</th>
            <th>Buchen</th>
          </tr>
        </thead>
        <tbody>
          <% @seminars.each do |s| %>
            <tr>
              <td>
                <%= s.start_date.strftime("%d.%m") %> - <%= s.end_date.strftime("%d.%m.%Y") %>
              </td>
              <td>
                <%= link_to s.location.name, frontend_location_path(s.location), target: "_blank"  %>
              </td>
              <td>
                <%= Booking.where(seminar: s).count %> von <%= s.max_participants %>
              </td>
              <td>
                <%= @seminar_instance.price %><%= currency_symbol %> + <%= s.additional_costs %><%= currency_symbol %> (UVM*)
              </td>
              <td>
                <% if Booking.where(seminar: s).count < s.max_participants %>
                  <span>
                    <%= link_to "Jetzt buchen", frontend_seminar_type_seminar_instance_seminar_account_abfrage_path(@seminar_type, @seminar_instance, s) %>
                  </span>
                <% else %>
                  Ausgebucht
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Aktuell sind keine Termine verfügbar. Bei Interesse wende dich gerne an <%= mail_to("ines@wurzelholz.de") %>.</p>
    <% end %>

  </section>

  <section>
    <h2>Generelle Informationen:</h2>

    <div class="faq-content">

      <div class="faq-question">
        <input id="q1" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q1" class="panel-title">Unterkunft & Verpflegung</label>
        <div class="panel-content">
          <p>
            Um das Gemeinschaftsgefühl zu stärken werden an jedem Wochenende, je nach Dauer des Seminars, ein bis zwei warme Abendessen von uns gestellt. Frühstück und Brotzeit - je nach Region Mittagessen genannt - bringen die Teilnehmer selbst mit (der Ausrüstungsliste zu entnehmen).
          </p>
          <p>
            Die Unterkünfte sind einfach, meist - wenn überhaupt drinnen - Matratzenlager. Sollte ein Zelt oder Tarp gebraucht werden steht dies in der Ausrüstungsliste des jeweiligen Seminars.
          </p>
        </div>
      </div>

      <div class="faq-question">
        <input id="q2" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q2" class="panel-title">Nebenkosten</label>
        <div class="panel-content">
          <p>
            Es fallen an jedem Seminar neben den ausgeschriebenen Seminarkosten noch jeweils Nebenkosten für Unterkunft, Verpflegung und Kursmaterialien an (neben dem Preis als UVM ausgeschildert). Diese sind bitte immer in bar mitzubringen. Die Höhe der Kosten ist bei jedem Seminar unterschiedlich.
          </p>
        </div>
      </div>

      <div class="faq-question">
        <input id="q3" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q3" class="panel-title">Philosophie</label>
        <div class="panel-content">
          <p>
            Allen Kursen liegen die Gedanken zugrunde, wie wir Müll reduzieren, wie wir auf Ressourcen achten können in Form von Feuerholz, Strom, auch Kühlung oder Licht. Wie können wir unseren Wasserverbrauch reduzieren und wieviel davon brauchen wir wirklich? Wir öffnen uns für Alternativen  und dabei ist auch unsere Kreativität gefordert.
          </p>
        </div>
      </div>

      <div class="faq-question">
        <input id="q4" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q4" class="panel-title">Anreise & Verantwortung</label>
        <div class="panel-content">
          <p>
            Die Anreise zu den Seminaren erfolgt auf eigene Verantwortung und auch während des Kurses ist gesunder Menschenverstand gefragt. Genaueres könnt ihr unseren <%= link_to 'AGBs', frontend_agb_path, target: "_blank", class: 'red' %> entnehmen. Einige Stunden werden auch bei Dunkelheit oder unterschiedlichen Wetterlagen draußen verbracht, wobei wir als Leiter zuerst die Sicherheit der Teilnehmer im Auge haben - safety first! So daß sich das Programm aufgrund von äußeren Umständen verändern  oder auch Teile wegfallen können.
          </p>
        </div>
      </div>
    </div>
  </section>
</article>
