<% content_for :title do %>
  Buchung bestätigen
<% end %>

<% if @booking.status == "pending" %>
  <h1>Buchung bestätigen</h1>
<% elsif @booking.status == "paid" %>
  <h1>Buchung Bestätigt!</h1>
<% end %>

<h2>Deine Informationen:</h2>
<p>
  Name:
  <%= @booking.first_name %>
  <%= @booking.last_name %>
  <br>
  E-mail: <%= @booking.email %>
  <br>
  Tel: <%= @booking.tel %>
  <br>
  Mitfahrgelegenheit gesucht: <%= @booking.rideshare ? 'Ja' : 'Nein' %>
</p>

<p>
  Adresse:
  <br>
  <%= @booking.adress %>
  <br>
  <%= @booking.zip_code %>
  <%= @booking.city %>
</p>

<h2>Buchungsinformationen:</h2>
<p>
  Seminar: <%= @booking.seminar.seminar_instance.name %>
  <br>
  Daten: <%= @booking.seminar.start_date.strftime("%d.%m.%Y") %> bis <%= @booking.seminar.end_date.strftime("%d.%m.%Y") %>
  <br>
  Preis: <%= @booking.price %><%= currency_symbol %>
  <br>
  Zahlungsmethode:
  <% if @booking.payment_gateway == 'bank_transfer'%>
    Überweisung
  <% elsif @booking.payment_gateway == 'paypal' %>
    PayPal
  <% elsif @booking.payment_gateway == 'stripe' %>
    Kreditkarte
  <% end %>
</p>



<% if @booking.status == "pending" %>
  <% if @booking.payment_gateway == 'stripe' %>
    <%= button_to "Jetzt bezahlen", frontend_seminar_type_seminar_instance_seminar_booking_stripe_checkout_path(@seminar_type, @seminar_instance, @seminar, @booking), action: :create, remote: true, class: "button button-primary" %>
  <% elsif @booking.payment_gateway == 'paypal' %>
    <div id="paypal-button-container"></div>
  <% else %>
    <%= link_to "Bestätigen", frontend_seminar_type_seminar_instance_seminar_booking_erfolgreich_path(@booking.seminar.seminar_instance.seminar_type, @booking.seminar.seminar_instance, @booking.seminar, @booking), class: "button button-primary" %>
  <% end %>
<% end %>



