<h1>Blog</h1>

<div class="post-cards-container">
  <% @posts.each do |p| %>
      <div class="post-card">
        <%= image_tag p.title_image %>

        <div class="post-card__text">

          <p class="post-card__time"><%= p.created_at.strftime("%m.%d.%Y") %></p>
          <h2><%= p.title %></h2>
          <p class="post-card__content"><%= p.content_1 %></p>

          <%= link_to 'Mehr lesen', frontend_post_path(p), class: "button button-primary" %>
        </div>
      </div>
  <% end %>
</div>

