<div class="post-container">
  <h1><%= @post.title %></h1>

  <p><%= @post.content_1 %></p>

  <div class="post-container__image">
    <%= image_tag(@post.post_image_1, alt: "Semantische unterstützung für den Blogpost") %>
  </div>

  <p><%= @post.content_2 %></p>

  <div class="post-container__image">
    <%= image_tag(@post.post_image_2, alt: "Semantische unterstützung für den Blogpost") %>
  </div>

  <p><%= @post.content_3 %></p>

  <div class="post-container__image">
    <%= image_tag(@post.post_image_3, alt: "Semantische unterstützung für den Blogpost") %>
  </div>

  <p><%= @post.content_4 %></p>
</div>
