<nav class="navigation-container">
  <ul class="navigation-container__navigation">

    <li  class="navigation-container__dropdown-toggle">
      <%= link_to "Seminare", admin_seminar_types_path %>
      <ul class="sub-menu">
        <% SeminarType.all.each do |s| %>
          <li><%= link_to s.name, admin_seminar_type_seminar_instances_path(s.id) %></li>
        <% end %>
      </ul>
    </li>

    <li  class="navigation-container__dropdown-toggle">
      Addons
      <ul class="sub-menu">
        <li><%= link_to "Orte", admin_locations_path %></li>
        <li><%= link_to "Ausrüstung", admin_equipment_items_path %></li>
      </ul>
    </li>

    <li  class="navigation-container__dropdown-toggle">
      Allgemein
      <ul class="sub-menu">
        <li><%= link_to "Blog", admin_posts_path %></li>
        <li><%= link_to "Gästebuch", admin_guestbook_entries_path %></li>
      </ul>
    </li>

    <li class="navigation-container__dropdown-toggle">
      <b>Admin</b>
      <ul class="sub-menu">
        <li><%= link_to "Dashboard", frontend_user_path(current_user) %></li>
        <li><%= link_to "Log out", log_out_path%></li>
      </ul>
    </li>

  </ul>
</nav>
