<%= render 'shared/errors', obj: @booking %>

<%= form_for [@seminar_type, @seminar_instance, @seminar, @booking] do |f| %>
  <div class="form-container">
    <div class="form-container__group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, required: true, value: current_user.first_name if current_user %>
      <%= f.text_field :first_name, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, required: true, value: current_user.last_name if current_user %>
      <%= f.text_field :last_name, required: true unless current_user%>
    </div>

    <div class="form-container__group">
      <%= f.label :birth_year %>
      <%= f.text_field :birth_year, required: true, value: current_user.birth_year if current_user %>
      <%= f.text_field :birth_year, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :adress %>
      <%= f.text_field :adress, required: true, value: current_user.adress if current_user %>
      <%= f.text_field :adress, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, required: true, value: current_user.zip_code if current_user %>
      <%= f.text_field :zip_code, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :city %>
      <%= f.text_field :city, required: true, value: current_user.city if current_user %>
      <%= f.text_field :city, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :email %>
      <%= f.text_field :email, required: true, value: current_user.email if current_user %>
      <%= f.text_field :email, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :tel %>
      <%= f.text_field :tel, required: true, value: current_user.tel if current_user %>
      <%= f.text_field :tel, required: true unless current_user %>
    </div class="form-container__group">

    <div class="form-container__box">
      <p class=form-container__group--label>
        Alle allgemeinen Informationen zu den Seminaren - bspw. Verpflegung - findest du hier:
      </p>
      <%= link_to "Infos", seminar_infos_path, target: "_blank", class: "button-primary" %>
    </div>

    <div class="form-container__box">
      <p class=form-container__group--label>
        Die genauen Informationen zum Seminarort kannst du die hier nocheinmal anschauen:
      </p>
      <%= link_to @seminar.location.name, location_path(@seminar.location), target: "_blank", class: "button-primary" %>
    </div>

    <div class="form-container__group--checkbox">
      <p class=form-container__group--label>
        Ich bin damit einverstanden, dass meine Kontaktdaten zum Zweck der Vernetzung, z.B. für Fahrgemeinschaften, an die anderen Teilnehmenden weitergegeben werden.
      </p>
      <%= f.check_box :rideshare  %>
    </div class="form-container__group">

    <div class="form-container__group--checkbox">
      <p class=form-container__group--label>
        Ich stimme den unten aufgeführten Teilnahmebedingungen zu.
      </p>
      <%= f.check_box :agb, required: true  %>
    </div class="form-container__group">

    <div class="form-container__group form-container__agb">
      <strong>
        Die Anmeldung verpflichtet zur Zahlung der gesamten Veranstaltungskosten.
      </strong>
      <p>
        Ein Rücktritt von der Veranstaltung muss schriftlich erfolgen (an die Wildnisschule Wurzelholz wildnisschule@Wurzelholz.de).
      </p>

      <strong>
        Bei einem Rücktritt von der Veranstaltung entstehen folgende Stornokosten:
      </strong>
      <ul>
        <li>Bis 2 Wochen nach Anmeldung: kostenlos, sofern der Seminarbeginn mehr als 2 Wochen entfernt ist.</li>
        <li>Andernfalls fallen 50% der Seminargebühren an.</li>
        <li>2 Wochen vor Seminarbeginn fallen bei Stornierung die vollen Seminarkosten an.</li>
      </ul>
      <p>
        Bei Nicht-Teilnahme an einem Seminar können unter Umständen die individuellen personenbezogenen Kosten erstatten werden. Dazu ist vier Wochen vor Beginn des entsprechenden Termins eine schriftliche Abmeldung bei der Wildnisschule Wurzelholz, erforderlich.
      </p>

      <strong>
        Sonstige Teilnahmebedingungen
      </strong>
      <p>
        Bei Unfällen, Sachschäden oder Eigentumsverlusten haften die Veranstalterinnen nicht. Die Veranstalterinnen haben das Hausrecht, den Anweisungen der Kursleitenden ist Folge zu leisten. Bei einem Ausschluss von der Veranstaltung besteht kein Recht auf Rückzahlung der Gebühr/ Kosten für bereits besuchte Veranstaltungsteile.
      </p>

      <strong>
        Absage der Veranstaltung
      </strong>
      <p>
        Wird die erforderliche Mindestzahl an Teilnehmenden nicht erreicht oder liegen andere Gründe für eine Absage der Veranstaltung vor, erhalten Sie eine schriftliche Absage. Fällt die Veranstaltung wegen „höherer Gewalt“ aus, wie z.B. plötzliche Erkrankung einer Lehrkraft, sind wir bemüht Sie rechtzeitig zu benachrichtigen.
        <br>
        Weitergehende Ansprüche ergeben sich daraus nicht. Insbesondere besteht auch nicht der Anspruch, durch eine bestimmte Lehrkraft unterrichtet zu werden. Bei Absage der Veranstaltung werden von Ihnen bereits gezahlte Gebühren zurück überwiesen.
        <br>
        Durch Verzögerungen im Abruf der Anmeldungen, kann es vorkommen, dass Deine Anmeldung bei uns eingeht, obwohl die maximale TeilnehmerInnenzahl schon erreicht ist. In diesem Fall benachrichtigen wir Dich umgehend. Du kannst Dich dann auf die Warteliste setzen lassen. Wenn ein Platz freigeworden ist, schicken wir Dir eine Email.
      </p>
    </div>

    <%= f.submit "Book now", class: "button-primary" %>
  </div>
<% end %>
