<%= render 'shared/errors', obj: @booking %>

<%= form_for [@seminar_type, @seminar_instance, @seminar, @booking] do |f| %>
  <div class="form-container">
    <div class="form-container__group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, required: true, value: current_user.first_name if current_user %>
      <%= f.text_field :first_name, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, required: true, value: current_user.last_name if current_user %>
      <%= f.text_field :last_name, required: true unless current_user%>
    </div>

    <div class="form-container__group">
      <%= f.label :birth_year %>
      <%= f.text_field :birth_year, required: true, value: current_user.birth_year if current_user %>
      <%= f.text_field :birth_year, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :adress %>
      <%= f.text_field :adress, required: true, value: current_user.adress if current_user %>
      <%= f.text_field :adress, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, required: true, value: current_user.zip_code if current_user %>
      <%= f.text_field :zip_code, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :city %>
      <%= f.text_field :city, required: true, value: current_user.city if current_user %>
      <%= f.text_field :city, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :email %>
      <%= f.text_field :email, required: true, value: current_user.email if current_user %>
      <%= f.text_field :email, required: true unless current_user %>
    </div>

    <div class="form-container__group">
      <%= f.label :tel %>
      <%= f.text_field :tel, required: true, value: current_user.tel if current_user %>
      <%= f.text_field :tel, required: true unless current_user %>
    </div class="form-container__group">

    <%= f.submit "Book now", class: "button-primary" %>
  </div>
<% end %>
