<%= render 'shared/errors', obj: @user %>

<%= form_with(model: @user) do |f| %>
  <div class="form-container">
    <div class="form-container__group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, required: true %>
    </div>

    <div class="form-container__group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="form-container__group">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="form-container__group">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>

    <div class="form-container__group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>

    <div class="form-container__group">
      <%= f.label :tel %>
      <%= f.text_field :tel %>
    </div>

    <div class="form-container__group">
      <%= f.label :birthday %>
      <%= f.date_field :birthday %>
    </div>

    <div class="form-container__group">
      <%= f.label :adress %>
      <%= f.text_field :adress %>
    </div>

    <div class="form-container__group">
      <%= f.label :zip_code %>
      <%= f.number_field :zip_code %>
    </div>

    <% if params.has_key?(:seminar) %>
      <%= hidden_field_tag(:seminar, params[:seminar]) %>
    <% end %>

    <%= f.submit(@user.new_record? ? "Sign up" : "Update profile" , class: "button-primary") %>
  </div>
<% end %>
