<h1>Das ist dein Profil <%= current_user.first_name %> :)</h1>

<% if current_user.admin? %>
  <%= render "admin" %>
<% else %>
  <h2>Deine Seminare:</h2>
  <% @seminars.each do |s| %>
    <p><%= s.seminar_instance.name %> am <%= s.start_date.strftime("%m.%d.%Y")%>
  <% end %>
<% end %>
<br>

<%= link_to "Profil editieren", edit_user_path(current_user), class: "button-primary" %>
<%= link_to "Log Out", log_out_path, class: "button-primary" %>


