<h1><%= @seminar_instance.name %>e</h1>
<%= @seminar_instance.description %>
<br>
<%= link_to "edit", edit_seminar_type_seminar_instance_path %>

<h2>Termine</h2>

<% @seminars.each do |s| %>
  <%= link_to s.start_date, seminar_type_seminar_instance_seminar_path(@seminar_type, @seminar_instance, s) %>:
  <%= s.location.name  %>
<% end %>
