<section class="home__angebot">
  <h2>Was wir anbieten</h2>

  <% SeminarType.all.each_with_index do |type, i| %>
    <div class="<%= (i + 1)%2 == 0 ? 'even' : 'odd' %> home__angebot--container" >

      <div>
        <h3><%= link_to type.name, frontend_seminar_type_seminar_instances_path(type) %></h3>
        <p>
          <%= type.description %>
        </p>
      </div>

      <div class="home__angebot--cards">
        <% type.seminar_instances.each do |s| %>
          <div class="home__angebot--card">
            <div>
              <h4><%= link_to s.name, frontend_seminar_type_seminar_instance_path(type, s) %></h4>
              <p><%= pluralize( Seminar.where(seminar_instance: s).count, 'Termin', 'Termine' ) %> verfügbar</p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
</section>
