<% if @seminar_type.persisted? %>
  <% @url = admin_seminar_type_path(@seminar_type.id) %>
<% else %>
  <% @url = admin_seminar_types_path %>
<% end %>

<%= form_for [@seminar_type], url: @url do |f| %>
  <div class="form-container">
    <%= render 'shared/errors', obj: @seminar_type %>

    <div class="form-container__group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-container__group">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <%= f.submit "save", class: "button button-primary" %>
  </div>
<% end %>
