<% content_for :title do %>
  <%= @location.name %>
<% end %>

<div class="location-container">
  <h1><%= @location.name %></h1>

  <div class="location-container__address">
    <div>
      <p>
        <%= @location.zip %>
        <%= @location.city %>
        <br>
        <%= @location.street %>
        <%= @location.house_number %>
      </p>
    </div>
    <div>
      <%= image_tag(@location.location_image, alt: "Ein Seminarort der Wildnisschule Wurzelholz") %>
    </div>
  </div>

  <p><%= @location.description %></p>

  <div class="location-container__map">
    <iframe
      width="100%"
      height="500rem"
      style="border:0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.credentials.google_maps_key %>
        &q=<%= @location.latitude %>,<%= @location.longitude %>">
    </iframe>
  </div>
</div>
