<% if @seminar_instance.persisted? %>
  <!-- We are in edit action -->
  <% @url = admin_seminar_type_seminar_instance_path(@seminar_type.id, @seminar_instance.id) %>
<% else %>
  <!-- We are in new -->
  <% @url = admin_seminar_type_seminar_instances_path(@seminar_type.id)  %>
<% end %>

<%= form_for [@seminar_type, @seminar_instance], url: @url do |f| %>
  <div class="form-container" data-controller="confirmation field">
    <%= render 'shared/errors', obj: @seminar_instance %>

    <div class="form-container__group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-container__group">
      <%= f.label "Preis in Cent!!", for: :price_cents %>
      <%= f.number_field :price_cents %>
    </div>

    <div class="form-container__group">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <!-- Inhalte -->
    <div class="form-container__group">
      <%= f.label :content, "Inhalte", class: "mt-xs" %>
      <%= f.fields_for :seminar_contents do |content| %>
        <%= content.text_field :content, class: "mt-xs" %>
        <% if @seminar_instance.persisted? %>
          <%= link_to 'Entfernen', admin_seminar_type_seminar_instance_seminar_content_path(@seminar_type.id, @seminar_instance.id, content.object.id, action: :destroy), method: :delete, data: { action:  "click->confirmation#delete" } %>
        <% end %>
      <% end %>
      <div data-field-target="field_container"></div>
      <p class="button button-primary" data-action="click->field#add_field">Neuer Inhalt</p>
    </div>

    <!-- Ausr端stungslist -->
    <div class="form-container__group">
      <%= f.label "Ausr端stungsliste" %>
      <%= f.collection_check_boxes(:equipment_item_ids, EquipmentItem.all, :id, :name, {}, { multiple: true }) do |b| %>
        <div class="form-container__group--multi-select" >
          <%= b.check_box  %>
          <label for="<%= b.text %>">
            <%= b.text %>
          </label>
        </div>
      <% end %>
    </div>

    <div class="form-container__group">
      <%= f.label :breakfast, "Anzahl Fr端hst端ck" %>
      <%= f.number_field :breakfast %>
    </div>

    <div class="form-container__group">
      <%= f.label :lunch, "Anzahl Mittagessen" %>
      <%= f.number_field :lunch %>
    </div>

    <div class="form-container__group">
      <%= f.label :dinner, "Anzahl Abendessen" %>
      <%= f.number_field :dinner %>
    </div>

    <div class="form-container__group">
      <%= f.label :image_1 %>
      <%= f.file_field :image_1 %>
    </div>

    <div class="form-container__group">
      <%= f.label :image_2 %>
      <%= f.file_field :image_2 %>
    </div>

    <%= f.submit "save", class: "button button-primary" %>
  </div>
<% end %>
