<% if @seminar_instance.persisted? %>
  <!-- We are in edit action -->
  <% @url = admin_seminar_type_seminar_instance_path(@seminar_type.id, @seminar_instance.id) %>
<% else %>
  <!-- We are in new -->
  <% @url = admin_seminar_type_seminar_instances_path(@seminar_type.id)  %>
<% end %>

<%= form_for [@seminar_type, @seminar_instance], url: @url do |f| %>
  <div class="form-container" data-controller="confirmation field">
    <%= render 'shared/errors', obj: @seminar_instance %>

    <div class="form-container__group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-container__group">
      <%= f.label "Preis in Cent!!", for: :price_cents %>
      <%= f.number_field :price_cents %>
    </div>

    <div class="form-container__group">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <!-- Inhalte -->
    <div class="form-container__group">
      <%= f.label :content, "Inhalte", class: "mt-xs" %>
      <%= f.fields_for :seminar_contents do |content| %>
        <%= content.text_field :content, class: "mt-xs" %>
        <% if @seminar_instance.persisted? %>
          <%= link_to 'Entfernen', admin_seminar_type_seminar_instance_seminar_content_path(@seminar_type.id, @seminar_instance.id, content.object.id, action: :destroy), method: :delete, data: { action:  "click->confirmation#delete" } %>
        <% end %>
      <% end %>
      <div data-field-target="field_container"></div>
      <p class="button button-primary" data-action="click->field#add_field">Neuer Inhalt</p>
    </div>

    <!-- Ausrüstungslist -->
    <div class="form-container__group">
      <%= f.label "Ausrüstungsliste" %>
      <%= f.collection_check_boxes(:equipment_item_ids, EquipmentItem.all, :id, :name, {}, { multiple: true }) do |b| %>
        <div class="form-container__group--multi-select" >
          <%= b.check_box  %>
          <label for="<%= b.text %>">
            <%= b.text %>
          </label>
        </div>
      <% end %>
    </div>

    <!-- Bilder -->
    <h2>Bilder</h2>

    <div class="form-container__group">
      <%= f.label :seminar_images, 'Neues Bild hinzufügen' %>
      <%= f.fields_for :seminar_images, @seminar_image do |image| %>
        <%= image.file_field :image %>
      <% end %>

      <p>Aktuell:</p>
      <% f.object.seminar_images.each do |image| %>
        <% if image.image.attached? %>
          <%= image_tag image.image, style: "width:200px" %>
          <%= link_to 'Löschen', admin_seminar_type_seminar_instance_seminar_image_path(@seminar_type.id, @seminar_instance.id, image.id, action: :destroy), method: :delete %>
        <% end %>
      <% end %>
    </div>

    <%= f.submit "save", class: "button button-primary" %>
  </div>
<% end %>
