<div class="seminar_instance">
  <h1><%= @seminar_instance.name %></h1>

  <h2>Beschreibung</h2>
  <p><%= @seminar_instance.description %></p>

  <h2>Inhalte:</h2>
  <ul>
    <% @seminar_instance.seminar_contents.each do |s| %>
      <li><%= s.content %></li>
    <% end %>
  </ul>

  <h2>Ausrüstungsliste</h2>
  <ul>
    <% @seminar_instance.equipment_items.each do |i| %>
      <li><%= i.name %></li>
    <% end %>
  </ul>

  <p>Preis: <%= @seminar_instance.price %><%= currency_symbol %></p>

  <h2>Bilder </h2>

  <%= image_tag @seminar_instance.image_1, style: "width:400px; height:300px; object-fit:cover;" %>
  <%= image_tag @seminar_instance.image_2, style: "width:400px; height:300px; object-fit:cover;"  %>
  <br>

  <%= link_to "Seminar Editieren", edit_admin_seminar_type_seminar_instance_path(@seminar_type.id, @seminar_instance.id), class: "button button-secondary" %>

  <h2>Termine:</h2>

  <% @seminars.each do |s| %>
    <p>
      <%= s.start_date.strftime("%d.%m.%Y") %>:
      <%= link_to s.location.name, frontend_location_path(s.location)  %> -
      <%= Booking.where(seminar: s).count %> von
      <%= s.max_participants %> Anmeldungen -
      <%= link_to 'Editieren', edit_admin_seminar_type_seminar_instance_seminar_path(@seminar_type.id, @seminar_instance.id, s.id), class: "red"  %>
    </p>
  <% end %>

  <%= link_to "Neuen Termin anlegen", new_admin_seminar_type_seminar_instance_seminar_path(@seminar_type.id, @seminar_instance.id), class: "button button-secondary" %>
</div>
