<div class="navigation-container">
  <ul class="navigation-container__navigation">
    <li><%= link_to "Home", root_path%></li>
    <li class="navigation-container__dropdown-toggle">
      <%= link_to "Angebot", seminar_types_path %>
      <ul class="sub-menu">
        <% SeminarType.all.each do |s| %>
          <li><%= link_to s.name, seminar_type_seminar_instances_path(s) %></li>
        <% end %>
        <li><%= link_to "Infos", seminar_infos_path  %></li>
      </ul>
    </li>
    <li class="navigation-container__dropdown-toggle">
      <%= link_to "Company", ueber_wildnisschule_wurzelholz_path %>
      <ul class="sub-menu">
        <li><%= link_to "Über Ines", ueber_ines_path %></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li><%= link_to "Gästebuch", guestbook_entries_path %></li>
      </ul>
    </li>
    <li><%= link_to "Gallerie", gallerie_path %></li>
    <% if current_user %>
      <li><%= link_to "Profil", user_path(current_user) %></li>
    <% else %>
      <li><%= link_to "Log in", log_in_path %></li>
    <% end %>
  </ul>
</div>
