<div class="navigation-container">
  <ul class="navigation-container__navigation">
    <li><%= link_to "Home",  root_path%></li>
    <div class="dropdown-container">
      <li class="dropdown-toggle"><%= link_to "Angebot", seminar_types_path %></li>
      <ul class="dropdown-content">
        <% SeminarType.all.each do |s| %>
          <li><%= link_to s.name, seminar_type_seminar_instances_path(s) %></li>
        <% end %>
      </ul>
    </div>
    <div class=dropdown-container>
      <li class="dropdown-toggle">Company</li>
      <ul class="dropdown-content">
        <li><%= link_to "Über Ines", ueber_ines_path %></li>
        <li><%= link_to "Über die Schule", ueber_wildnisschule_wurzelholz_path %></li>
        <li><%= link_to "Blog", posts_path %></li>
      </ul>
    </div>
    <% if current_user %>
      <li><%= link_to "Profil", user_path(current_user) %></li>
    <% end %>
  </ul>
</div>
