<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head_tags' %>

  </head>


  <body class="admin">
    <header>
      <%= render 'layouts/messages' %>
      <%= render 'layouts/admin/navigation' %>
    </header>

    <main class="main-container">
      <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/admin/footer' %>
    </footer>

  </body>
</html>
