<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head_tags' %>
  </head>


  <body class="frontend">
    <%= render 'layouts/messages' %>
    <header class="header">
      <%= render 'layouts/frontend/navigation' %>
      <h1>Wildnisschule Wurzelholz</h1>
      <%= link_to 'Angebot', frontend_seminar_types_path, class: "button button-primary" %>
    </header>

    <main class="main-container">
      <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/frontend/footer' %>
    </footer>
  </body>
</html>
